name: CI workflow

on:
  workflow_call:
    secrets:
      envPAT:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set environment secrets
        env:
          FIREBASE_APP_DISTRIBUTION_KEY_STRING: ${{ secrets.FIREBASE_APP_DISTRIBUTION_KEY_BASE_64 }}
          PLAY_STORE_APP_DISTRIBUTION_KEY_STRING: ${{ secrets.PLAY_STORE_APP_DISTRIBUTION_KEY_BASE_64 }}
          KEYSTORE_STRING: ${{ secrets.KEYSTORE_BASE_64 }}
          KEYSTORE_ALIAS: ${{ secrets.KEYSTORE_ALIAS }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run:
          echo $FIREBASE_APP_DISTRIBUTION_KEY_STRING

      - name: Decode keystore
        run: |
          KEYSTORE_FILE_PATH="${GITHUB_WORKSPACE}"/android/certificates
          mkdir "${KEYSTORE_FILE_PATH}"
          echo KEYSTORE_STRING | base64 -di > "${KEYSTORE_FILE_PATH}"/keystore.jks

      - name: Setup JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Install dependencies to support ruby project
        working-directory: ./android
        run: |
          bundle config --global set deploy_platform_default x86_64-linux
          bundle install

      - name: Build and distribute app
        run: |
          export LC_ALL=en_US.UTF-8
          export LANG=en_US.UTF-8
