name: Distirbuted workflow tasks

on: push

jobs:
  copy_android_workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Copy Android modules workflow to root
        run: |
          ROOT=`pwd`
          ls $ROOT/../
