name: Distirbuted workflow tasks

on: push

jobs:
  copy_android_workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Copy Android modules workflow to root
        run: |
          ls /android
          cp /android/.github/workflows/action.yml /.github/android-action.yml
          ls .github


