name: Distirbuted workflow tasks

on: push

jobs:
  copy_android_workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Copy Android modules workflow to root
        run: |
          pwd
          ROOT=`pwd`
          cp $ROOT/android/.github/workflows/action.yml $ROOT/.github/workflows/android-action.yml
          cat $ROOT/.github/workflows/action.yml
          ls -R $ROOT/.github | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//──/g' -e 's/─/├/' -e '$s/├/└/'

  run_android_workflow:
    needs: copy_android_workflow
    runs-on: ubuntu-latest
    steps:
      - name: Copy Android modules workflow to root
        run: |
          pwd
          ROOT=`pwd`
          ls $ROOT