name: Distirbuted workflow tasks

on: push

jobs:
  copy_android_workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0


      - uses: ./.github/workflows/