name: Distirbuted workflow tasks

on: push

jobs:
  constructor:
    runs-on: ubuntu-latest
    outputs:
      current_branch_reusable_workflow_1: ${{ steps.constructor_step.outputs.current_branch_reusable_workflow_1 }}
    steps:
      - run: |
          $currentRepo = "${{ github.repository }}"
          $currentBranch = `echo ${GITHUB_REF##*/}`
          $workflow = "$currentRepo/.github/workflows/action.yml@$currentBranch"

          echo "::set-output name=current_branch_reusable_workflow_1::$(echo $workflow)"

  android_ci_job:
    uses: shafayathossain/flutter_getx_template/.github/workflows/action.yml@master
