name: Distirbuted workflow tasks

on: push

jobs:
  copy_android_workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Copy Android modules workflow to root
        run: |
          ROOT=`pwd`
          cp $ROOT/android/.github/workflows/action.yml $ROOT/.github/android-action.yml

  run_android_workflow:
    needs: copy_android_workflow
    uses: shafayathossain/flutter_getx_template/.github/workflows/android-action.yml@master